center{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    display: block;
    width: 200px;
    height: 65vh;
    border: 1px solid black;
    border-radius: 6px;
}
.display{
    margin: 10px;
    padding: 7px;
    font-weight: 700;
    font-size: 25px;
    width: 90%;
    border-radius: 4px;
}
.buttonsContainer{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   padding: 10px;
}
.buttons{
    margin: 3px;
    padding: 12px;
}